<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--[if IE 7 ]>
<html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>
<html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>
<html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-gb" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--[if lt IE 9]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>数据错误</title>
    <meta name="description" content="">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
    <script type="text/javascript" src="http://explorercanvas.googlecode.com/svn/trunk/excanvas.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen"/>
    <link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="css/da-slider.css"/>
    <!-- Owl Carousel Assets -->
    <link href="js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css"/>
    <!-- Font Awesome -->
    <link href="font/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/Chh7.ico">
</head>

<body>
<header class="header">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse"
                        data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="https://mec.tongji.edu.cn/" target="_blank" class="navbar-brand logo"><b>同济大学区块链创新应用实验室</b></a>
            </div>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="mainNav">
                    <li><a th:href="@{/index}">返回首页</a></li>
                    <li><a th:href="@{/list}">返回数据库展示页</a></li>
                </ul>
            </div>
            <!--/.navbar-collapse-->
        </nav>
        <!--/.navbar-->
    </div>
    <!--/.container-->
</header>
<!--/.header-->
<div id="#top"></div>
<section id="home">
    <div class="banner-container">
    </div>
</section>

<section id="aboutUs" class="page-section darkBg pDark pdingBtm30">
    <div class="container">
        <div class="heading text-center">
            <!-- Heading -->
            <h2>错误：数据缺失</h2>
            <p>若出现此页面，则表示此条微博尚未上传区块链，请等待数据上传完成后再行访问，谢谢配合！</p>
        </div>
        <div>
            <h3>区块链（Blockchain）技术</h3>
            <p>
                区块链起源于比特币（Bitcoin）：2008年11月1日，一位自称中本聪（SatoshiNakamoto）的人发表了《比特币：一种点对点的电子现金系统》一文，阐述了一种基于加密技术、P2P网络技术、时间戳技术、区块链技术等的电子现金系统的构架理念，标志着比特币的诞生。两个月后，理论步入实践。2009年1月3日，第一个序号为0的创世区块诞生。几天后，2009
                年1月9日，序号为1的区块出现，并通过特定密码学方法关联，与序号为0的创世区块相连接形成了链，标志着区块链的诞生。其中，每一个数据块包含了一批次比特币网络交易的信息，用于验证区块链信息的有效性（防伪）和生成下一个区块。</p>
            <p>
                近些年来，以“比特币”为代表，一大批数字虚拟货币在市场上的交易愈发火爆。而伴随着这些货币兑美元价格在网络上的涨落波动，作为其背后的支撑技术，“区块链”这一概念也在信息技术领域越来越受到重视，甚至在全社会都获得了一定程度的关注。然而，由于理念的超前性和技术本身的复杂性，“区块链”一词并不具有一个被广泛接受的定义。从本质上讲，它是一个分布式的共享账本和数据库，存储于其中的数据或信息，具有去中心化、不可伪造、全程留痕、可以追溯、公开透明、集体维护等等特征。基于这些特征，区块链技术奠定了坚实的“信任”基础，创造了可靠的“合作”机制，保证了自身的“诚实”与“透明”。在基于区块链的应用场景中，这项技术能够非常容易地解决信息不对称问题，实现多个主体之间的协作信任与一致行动，具有相当良好的发展前景。</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h3><a href="https://mastodon-test233.xyz" target="_blank"><i class="fa fa-desktop color"></i></a>&nbsp;搭建开源的微博社区</h3>
                <!-- Paragraph -->
                <p>本项目搭建的开源微博社区地址为（单击图标即可访问）：https://mastodon-test233.xyz。注册登录后可使用完整的微博功能，包括：发微博、转微博、评论与回复、点赞、私信等等。用户还可以与部署在其他服务器上的实例进行互动，充分享受社交活动带来的乐趣！</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <!-- Heading -->
                <h3><a th:href="@{/list}"><i class="fa fa-cloud color"></i></a>&nbsp;上传到区块链的微博</h3>
                <!-- Paragraph -->
                <p>截至<span th:text="${currentDate}"></span>，已有<span th:text="${totalNumber}"></span>条微博上传到NEM区块链，单击图标即可查看详细信息。若有数据变动，刷新页面后就会更新相应信息。</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <!-- Heading -->
                <h3><a href="https://arkchat.org" target="_blank"><i class="fa fa-home color"></i></a>&nbsp;指导老师的部落主页</h3>
                <!-- Paragraph -->
                <p>感谢同济大学电子与信息工程学院区块链创新应用实验室宋志光教授对于本项目的悉心指导。宋志光教授管理的开源微博社区地址为（单击图标即可访问）：https://arkchat.org——数字经济与智能科技为主题的生活部落，社区聚焦数字经济、区块链大数据、AI人工智能、安全高效软件编程编程平台，分享创新思想与美好生活片段。</p>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>

<!---<section class="maps">
	<iframe src="http://maps.google.com/maps?f=q&t=m&z=15&ll=-7.269152,112.733127&output=embed" width="100%" height="250" frameborder="0"></iframe>
</section>--->
<footer>
    <div class="container">
        <div class="social text-center">
            <a href="https://weibo.com/tongjiuniversity?is_all=1" target="_blank"><i class="fa fa-weibo"></i></a>
            <a href="https://github.com/wuhan2020/wuhan2020" target="_blank"><i class="fa fa-rss"></i></a>
            <a href="https://flapybooks-public-1257356257.file.myqcloud.com/samples/railstutorial6th-sample.pdf"
               target="_blank"><i class="fa fa-book"></i></a>
            <a href="https://docs.aws.amazon.com/zh_cn/cloud9/latest/user-guide/setup-student.html#setup-student-create-account-starter"
               target="_blank"><i class="fa fa-cloud"></i></a>
            <a href="https://github.com/Edward-21" target="_blank"><i class="fa fa-github"></i></a>
        </div>
        <div class="clear"></div>
        <!--CLEAR FLOATS-->
    </div>
</footer>
<!--/.page-section-->
<section class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">Copyright &copy; 2020. Company name All rights reserved.
                Email: mastotest@outlook.com（Support by<a target="_blank" href="http://www.outlook.com/"> Outlook</a>）
            </div>
        </div>
        <!-- / .row -->
    </div>
</section>
<a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>

<!--[if lte IE 8]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script><![endif]-->
<script src="js/modernizr-latest.js"></script>
<script src="js/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/jquery.isotope.min.js" type="text/javascript"></script>
<script src="js/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
<script src="js/jquery.nav.js" type="text/javascript"></script>
<script src="js/jquery.cslider.js" type="text/javascript"></script>
<script src="contact/jqBootstrapValidation.js"></script>
<script src="contact/contact_me.js"></script>
<script src="js/custom.js" type="text/javascript"></script>
<script src="js/owl-carousel/owl.carousel.js"></script>
</body>
</html>
